@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.app {
    width: 754px;
    margin: 0 auto;
    font-family: 'Open Sans';
    color: #4A4A4A;
}

.mainContent {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.title {
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
}

.sidebar {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 232px;
    height: 252px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.filter {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.filterItem {
    display: block;
    padding: 10px 20px;
}

.filterItem:hover {
    background: #F1FCFF;
}

.main {
    width: 502px;
}

.biletsFilter {
    border: 1px solid #DFE5EC;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
}

.biletsBtn {
    color: inherit;
    text-transform: uppercase;
    border: none;
    background: none;
    flex-grow: 1;
    padding: 15px 0;
    font-weight: 600;
    font-size: 12px;
}

.biletsBtn:nth-of-type(2) {
    border-left: 1px solid #DFE5EC;
    border-right: 1px solid #DFE5EC;
}

.biletsBtn:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.selected {
    background-color: #2196F3; 
    color: #FFFFFF;
}

.bilets {
    display: flex;
    flex-direction: column;
}

.bilet {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

.biletHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.biletPrice {
    color: #2196F3;
    font-weight: 600;
    font-size: 24px;
}

.biletLogo {
    flex-basis: 141px;
}

.biletInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.infoItem {
    flex-basis: 141px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoItemTitle {
    color: #A0B0B9;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.infoItemText {
    font-weight: 600;
    font-size: 14px;
}

.aviaLogo {
    
}