.biletsBtn {
    cursor: pointer;
    color: inherit;
    text-transform: uppercase;
    border: none;
    background: none;
    flex-grow: 1;
    padding: 15px 0;
    font-weight: 600;
    font-size: 12px;
}

.biletsBtn:nth-of-type(2) {
    border-left: 1px solid #DFE5EC;
    border-right: 1px solid #DFE5EC;
}

.biletsBtn:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.selected {
    background-color: #2196F3; 
    color: #FFFFFF;
}